<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Other Side</title>
    <link rel="shortcut icon" href="../assets/medo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../style/global.css" />
    <link rel="stylesheet" href="../style/navbar.css" />
    <link rel="stylesheet" href="../style/index.css" />
    <link rel="stylesheet" href="../style/footer.css" />
</head>

<body>
    <header class="navbar">

        <a href="./index.html"><img src="../assets/other_side.png" class="logo" alt="Other Side" /></a>

        <nav class="lista_secoes">

            <ul class="lista">

                <li><a href="#inicio">Início</a></li>
                <li><a href="#rpg">RPG</a></li>
                <li><a href="#serie">Série</a></li>
                <li><a href="#sistema">Sistema</a></li>
                <li><a href="#importancia">Importância</a></li>
                <li><a href="#onu">ONU</a></li>

            </ul>

            <button onclick="window.location.href='login.html'" class="btn_entrar">Entrar</button>

        </nav>

    </header>

    <main class="landpage">

        <section id="inicio" class="inicio">

            <div class="cta">
                <h2 style="color: white;">
                    O <span class="sangue">Paranormal</span> não vem para nossa <span class="sangue">Realidade</span> de maneira fácil... 
                </h2>
                <h2 style="color: white;">
                    Ou, pelo menos, as coisas <span class="sangue">deveriam ser assim...</span>
                </h2>
            </div>

        </section>

        <section id="rpg" class="rpg">

            <div class="container_rpg">

                <button onclick="voltar()" class="btn_rpg"><img src="../assets/seta_voltar.png" class="logo"></button>

                <div id="card_rpg" class="card_rpg"></div>

                <button onclick="avancar()" class="btn_rpg"><img src="../assets/seta_avancar.png" class="logo"></button>

            </div>

        </section>

        <section id="serie" class="serie">

            

        </section>

    </main>

    <footer>

        <p>© 2025 - Inspirado em Ordem Paranormal</p>

    </footer>

    <script src="../js/index.js"></script>

</body>

</html>