.login {
  height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url(../assets/login_banner.webp) center/cover no-repeat;
}

.card_login {
  background-color: rgba(14, 14, 14, 0.85);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  color: var(--dourado_antigo);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card_login:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.15);
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btn_login  {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: large;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    var(--vermelho_sangue),
    var(--vermelho_vivo)
  );
  color: whitesmoke;
  cursor: pointer;
  margin-top: 20px;
  width: 45%;
  align-self: center;
  height: 30px;
}

.btn_login:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px var(--dourado_antigo_opaco);
}

.formulario input {
  border: 2px solid var(--vermelho_sangue);
  background-color: rgba(245, 245, 245, 0.9);
  text-align: start;
  border-radius: 5px;
  margin: 0;
  height: 35px;
  width: 300px;
  padding: 2px;
}

.formulario input:focus {
  outline: none;
  border-color: var(--dourado_antigo);
  box-shadow: 0 0 5px var(--dourado_antigo);
}

.formulario input::placeholder {
  text-align: center;
}

.formulario label {
  font-size: 18px;
  font-weight: 800;
}

.formulario a {
  text-decoration: underline;
}

.card_login h2 {
  margin-bottom: 30px;
}