<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <title>Crie sua Ficha</title>
  <link rel="shortcut icon" href="../assets/medo.png" type="image/x-icon" />
  <link rel="stylesheet" href="../style/global.css" />
  <link rel="stylesheet" href="../style/criadorDeFicha.css" />
</head>

<body>
  <main class="criador_de_ficha">
    <h1>Crie sua Ficha</h1>

    <section id="informacoes" class="informacoes">

      <div class="titulo_card">

        <h2>Informações Pessoais:</h2>

      </div>

      <div class="conteudo_card">

        <div class="essenciais">

          <label for="ipt_nome_personagem">Nome do Personagem:
            <input type="text" id="ipt_nome_personagem" />
          </label>

          <label for="ipt_nome_jogador">Nome do Jogador:
            <input type="text" id="ipt_nome_jogador" />
          </label>

          <label for="ipt_nex">Nível do Personagem:
            <select id="ipt_nex">
              <option selected disabled value="#">Selecione seu NEX</option>
              <option value="1">5%</option>
              <option value="2">10%</option>
              <option value="3">15%</option>
              <option value="4">20%</option>
              <option value="5">25%</option>
              <option value="6">30%</option>
              <option value="7">35%</option>
              <option value="8">40%</option>
              <option value="9">45%</option>
              <option value="10">50%</option>
              <option value="11">55%</option>
              <option value="12">60%</option>
              <option value="13">65%</option>
              <option value="14">70%</option>
              <option value="15">75%</option>
              <option value="16">80%</option>
              <option value="17">85%</option>
              <option value="18">90%</option>
              <option value="19">95%</option>
              <option value="20">99%</option>
            </select>
          </label>

        </div>

        <br />

        <div class="opcionais">

          <label for="ipt_historia">História:</label>
          <textarea id="ipt_historia"></textarea>

          <label for="ipt_aparencia">Aparência:</label>
          <textarea id="ipt_aparencia"></textarea>

          <label for="ipt_personalidade">Personalidade:</label>
          <textarea id="ipt_personalidade"></textarea>

        </div>

      </div>

      <div class="botoes_card">

        <button class="btn_sair" onclick="window.location = './biblioteca.html'">Sair</button>
        <button onclick="trocarCard(1)">Avançar</button>

      </div>

    </section>

    <section id="atributos" class="atributos">

      <div class="titulo_card">

        <h2>Atributos</h2>

      </div>

      <div class="conteudo_card">

        <div class="pentagrama">

          <img src="../assets/atributos.png" />

          <input onclick="mudarDescricao(1)" onchange="validarCampo(1)" type="number" id="ipt_forca" value="1" />
          <input onclick="mudarDescricao(2)" onchange="validarCampo(2)" type="number" id="ipt_agilidade" value="1" />
          <input onclick="mudarDescricao(3)" onchange="validarCampo(3)" type="number" id="ipt_vigor" value="1" />
          <input onclick="mudarDescricao(4)" onchange="validarCampo(4)" type="number" id="ipt_presenca" value="1" />
          <input onclick="mudarDescricao(5)" onchange="validarCampo(5)" type="number" id="ipt_intelecto" value="1" />

        </div>

        <div class="info_atributo">

          <h3 id="tituloAtributo">
            Selecione seus atributos
          </h3>

          <p id="descricaoAtributo">
            Você possui 4 pontos iniciais para distribuir dentre os 5 atributos do sistema.<br><br>
            Clique em um dos atributos do pentagrama para ver sua descrição.
          </p>

        </div>

      </div>

      <div class="botoes_card">

        <button onclick="trocarCard(2)">Voltar</button>
        <button onclick="trocarCard(3)">Avançar</button>

      </div>

    </section>

    <section id="classes" class="classes">

      <div class="titulo_card">

        <h2>Classes</h2>

      </div>

      <div class="conteudo_card">

        <a onclick="selecionarClasse(1)" class="card_classes" id="combatente">

          <h3 style="color: var(--forca);">Combatente</h3>
          <br>
          <p>
            Treinado para lutar com todo tipo de armas, e com a força e a coragem para encarar os perigos de frente. É o
            tipo de agente que prefere abordagens mais diretas e costuma atirar primeiro e perguntar depois.
          </p>

        </a>

        <a onclick="selecionarClasse(2)" class="card_classes" id="especialista">

          <h3 style="color: var(--intelecto);">Especialista</h3>
          <br>
          <p>
            Um agente que confia mais em esperteza do que em força bruta. Um especialista se vale de conhecimento
            técnico, raciocínio rápido ou mesmo lábia para resolver mistérios e enfrentar o paranormal.
          </p>

        </a>

        <a onclick="selecionarClasse(3)" class="card_classes" id="ocultista">

          <h3 style="color: var(--roxo_escuro);">Ocultista</h3>
          <br>
          <p>
            Muitos estudiosos das entidades se perdem em seus reinos obscuros em busca de poder, mas existem aqueles que
            visam compreender e dominar os mistérios paranormais para usá-los para combater o próprio Outro Lado.
          </p>

        </a>

      </div>

      <div class="botoes_card">

        <button onclick="trocarCard(4)">Voltar</button>
        <button onclick="criarFicha()" class="btn_sair">Avançar</button>

      </div>

    </section>

  </main>

</body>

</html>

<script src="../js/criadorDeFicha.js"></script>