<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="shortcut icon" href="../assets/medo.png" type="image/x-icon">
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/navbar.css">
</head>

<body class="layout">

    <header class="navbar_vertical">

        <div class="logo_vertical">

            <img src="../assets/other_side.png" />

        </div>

        <div class="divisoria"></div>

        <nav class="nav_secoes">
            <a href="./biblioteca.html">
                <i class="fa-solid fa-book"></i>
                Fichas
            </a>

            <a href="./quiz.html">
                <i class="fa-solid fa-question"></i>
                Quiz
            </a>

            <a class="ativado" href="./dashboard.html">
                <i class="fa-solid fa-chart-line"></i>
                Dashboard
            </a>
        </nav>

        <a class="nav_sair" href="../index.html">
            <i class="fa-solid fa-right-from-bracket"></i>
            Sair
        </a>

    </header>

    <main class="conteudo">
        Dashboard
    </main>

</body>

</html>