<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="shortcut icon" href="../assets/medo.png" type="image/x-icon">
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/navbar.css">
    <link rel="stylesheet" href="../style/dashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="layout" onload="dadosDashboardEspecifica(); dadosDashboardGeral(); rankingVida(); rankingSanidade(); rankingEsforco()">

    <header class="navbar_vertical">

        <div class="logo_vertical">

            <img src="../assets/other_side.png" />

        </div>

        <div class="divisoria"></div>

        <nav class="nav_secoes">
            <a href="./biblioteca.html">
                <i class="fa-solid fa-book"></i>
                Fichas
            </a>

            <a class="ativado" href="./dashboard.html">
                <i class="fa-solid fa-chart-line"></i>
                Dashboard
            </a>
        </nav>

        <a class="nav_sair" href="../index.html">
            <i class="fa-solid fa-right-from-bracket"></i>
            Sair
        </a>

    </header>

    <main class="conteudo">

        <section class="kpis">

            <div class="card_kpi" id="div_vida">

                <h4 style="color: var(--vida);">Personagens com Mais Vida</h4>
                <hr>
                <div>
                    <ol id="ol_ranking_vida" class="ranking"></ol>
                </div>

            </div>

            <div class="card_kpi" id="div_sanidade">

                <h4 style="color: rgb(164, 196, 255);">Personagens com Mais Sanidade</h4>
                <hr>
                <div>
                    <ol id="ol_ranking_sanidade" class="ranking"> </ol>
                </div>

            </div>

            <div class="card_kpi" id="div_esforco">

                <h4 style="color: var(--esforco);">Personagens com Mais Esforço</h4>
                <hr>
                <div>
                    <ol id="ol_ranking_esforco" class="ranking"></ol>
                </div>

            </div>

        </section>


        <section class="graficos">

            <div class="barras">

                <canvas id="cvs_grafico_especifico"></canvas>

            </div>

            <div class="barras">

                <canvas id="cvs_grafico_geral"></canvas>

            </div>

        </section>

    </main>

    <script src="../js/dashboard.js"></script>

</body>

</html>