.cabecalho {
  display: flex;
  justify-content: flex-end;
}

.btn_criar {
  background: linear-gradient(90deg, var(--roxo_escuro), var(--roxo_claro));
  color: whitesmoke;
  width: 10%;
  height: 40px;
}

.biblioteca {
  flex: 1;
  display: flex;
}

/* ======== CARDS DA BIBLIOTECA FIXOS ======== */

.cards_container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* cada card ocupa uma linha de altura fixa */
  grid-auto-rows: 220px;

  gap: 20px;
  padding: 10px 20px;

  overflow-y: auto; /* único scroll */
  scrollbar-width: thin;
}


.cards_container::-webkit-scrollbar {
  width: 8px;
}

.cards_container::-webkit-scrollbar-thumb {
  background: var(--roxo_claro);
  border-radius: 10px;
}

.card_item {
  height: 200px;
  background: linear-gradient(160deg, #1a1a1a, #2a2a2a);
  border: 1px solid var(--roxo_claro);
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  overflow: hidden;
}


.card_item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--roxo_claro);
}

.card_item h3 {
  margin-bottom: 10px;
  color: var(--roxo_claro);
}

.card_item p {
  color: #ccc;
  font-size: 1rem;
}

.topicos {
  list-style-type: disc; /* bolinha padrão */
  padding-left: 20px;
  font-size: 18px;
}

.topicos li {
  margin-bottom: 6px;
  color: white;
}