.cadastro {
  height: 740px; /* Define altura da seção */
  display: flex; /* Define o container como flexbox */
  justify-content: center; /* Centraliza o conteúdo no centro horizontalmente */
  align-items: center; /* Centraliza o conteúdo no centro verticalmente */
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), /* Fundo escuro com degradê */
  url(../assets/cadastro_banner.png) center/cover no-repeat; /* Imagem de fundo centralizada */
}

.card_cadastro {
  background-color: rgba(14, 14, 14, 0.85); /* Fundo escuro com opacidade */
  border-radius: 12px; /* Bordas arredondadas */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); /* Sombra ao redor */
  color: var(--dourado_antigo); /* Cor do texto: dourado */
  display: flex; /* Define o container como flexbox */
  flex-direction: column; /* Organiza elementos verticalmente como coluna */
  align-items: center; /* Centraliza o conteúdo no centro horizontalmente (muda dependendo do flex-direction) */
  padding: 60px; /* Espaçamento interno */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Animação para o hover */
}

.card_cadastro:hover {
  transform: scale(1.02); /* Cresce o card ao passar o mouse */
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.15); /* Sombra ao redor */
}

.card_cadastro h2 {
  margin-bottom: 30px; /* Espaçamento abaixo do título */
}

.formulario {
  display: flex; /* Define o container como flexbox */
  flex-direction: column; /* Organiza elementos verticalmente como coluna */
  justify-content: center; /* Centralização vertical */
  align-items: center; /* Centralização horizontal */
  gap: 16px; 
}

.formulario input {
  border: none;
  outline: none;
  border: 1px solid #444;
  background-color: #111;
  color: white;
  text-align: start;
  border-radius: 5px;
  margin: 0;
  height: 35px;
  width: 300px;
  padding: 2px;
  padding-left: 10px;
}

.formulario input:focus {
  outline: none;
  border-color: var(--dourado_antigo);
  box-shadow: 0 0 5px var(--dourado_antigo);
}

.formulario input::placeholder {
  text-align: center;
}

.formulario label {
  font-size: 18px;
  font-weight: 800;
}

.formulario a {
  text-decoration: underline;
}

.btn_cadastro  {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: large;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    var(--vermelho_sangue),
    var(--vermelho_vivo)
  );
  color: whitesmoke;
  cursor: pointer;
  margin-top: 20px;
  width: 45%;
  align-self: center;
  height: 30px;
}

.btn_cadastro:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px var(--dourado_antigo_opaco);
}