input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Formatação da Página */
.criador_de_ficha {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Estilização Padrão dos Cards */
.atributos,
.classes,
.informacoes {
  background-color: #202020;
  height: 550px;
  width: 60%;
  padding: 40px;
  border-radius: 10px;
  color: white;
}

/* Título Padrão dos Cards */
.titulo_card {
  text-align: center;
}

.titulo_card h2 {
  color: var(--violeta);
}

.conteudo_card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botão Padrão dos Cards */
.botoes_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botoes_card button {
  width: 120px;
  height: 35px;
  background: linear-gradient(90deg, var(--roxo_escuro), var(--roxo_claro));
  color: whitesmoke;
}

.botoes_card .btn_sair {
  background: linear-gradient(
    90deg,
    var(--vermelho_sangue),
    var(--vermelho_vivo)
  );
}

/* CARD INFORMAÇÕES */
.informacoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.informacoes .conteudo_card {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 100%;
  overflow-y: auto;
  gap: 20px;
  padding-right: 10px;
  width: 100%;
}

.informacoes .conteudo_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.essenciais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.essenciais label {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  color: white;
}

.essenciais input,
.essenciais select {
  margin-top: 5px;
  width: 180px;
  height: 30px;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: #111;
  color: white;
  border: 1px solid #444;
}

.opcionais {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
}

.opcionais div {
  font-size: 15px;
  color: #ccc;
}

.opcionais textarea {
  width: 100%;
  height: 70px;
  border-radius: 8px;
  padding: 10px;
  background-color: #111;
  border: 1px solid #444;
  outline: none;
  color: white;
  resize: vertical;
  overflow-y: auto;
  white-space: normal; /* permite quebra */
  word-break: break-word; /* força quebra se necessário */
}

.informacoes .conteudo_card input:focus,
.informacoes .conteudo_card select:focus,
.informacoes .conteudo_card textarea:focus {
  border-color: var(--violeta);
  box-shadow: 0 0 8px var(--violeta);
}

/* CARD ATRIBUTOS */
.atributos {
  display: none;
  flex-direction: column;
}

.atributos .conteudo_card {
  gap: 80px;
}

.pentagrama {
  position: relative;
  width: 340px;
  height: 340px;
}

.pentagrama img {
  width: 100%;
  height: 100%;
}

.pentagrama input {
  position: absolute;
  width: 45px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
  font-size: 30px;
  background: none;
  color: white;
}

#ipt_forca {
  top: 110px;
  left: 43px;
}

#ipt_agilidade {
  top: 35px;
  right: 147px;
}

#ipt_vigor {
  bottom: 58px;
  left: 216px;
}

#ipt_presenca {
  bottom: 58px;
  left: 76px;
}

#ipt_intelecto {
  left: 255px;
  top: 110px;
}

.info_atributo {
  text-align: center;
  width: 35%;
}

.info_atributo h3 {
  color: var(--azul_espectral);
  margin-bottom: 10px;
}

/* CARD CLASSE */

.classes {
  display: none;
  flex-direction: column;
}

.classes .conteudo_card {
  gap: 40px;
}

.classes .card_classes {
  background-color: #111;
  border-radius: 10px;
  padding: 20px;
  width: 28%;
  height: 85%;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease, border 0.25s ease;
  border: 2px solid transparent;
}

.card_classes:hover {
  transform: scale(1.05);
}

.card_classes.selecionado {
  transform: scale(1.05);
  border: 2px solid var(--violeta);
  box-shadow: 0 0 20px var(--violeta);
}