/* LANDING PAGE */

/* INFO:

- Pseudo-Elemento = Pseudo-elementos são elementos virtuais, criados pelo CSS, 
que não existem no HTML, mas aparecem na página como se fossem reais.

- Parallax = Efeito visual em que os elementos de um plano de fundo se movem em uma velocidade 
diferente dos elementos em primeiro plano, criando a ilusão de profundidade

- Overlay = uma camada colocada acima do fundo, para escurecer, 
borrar ou aplicar efeitos, sem afetar o conteúdo principal*/

/* Estrutura vertical da página */
.landpage {
  display: flex; /* Ativa layout flexível */
  flex-direction: column; /* Coloca todas as seções uma embaixo da outra */
}

/* Scroll suave ao clicar nos links da navbar */
html {
  scroll-behavior: smooth;
}

/* Estilo geral de qualquer seção */
section {
  height: 700px; /* Altura da seção */
  position: relative; /* Necessário para permitir o uso das camadas de sombra */
  background-size: cover; /* Faz o fundo preencher toda a área sem distorcer */
  background-position: center; /* Centraliza o fundo em qualquer resolução */
  background-attachment: fixed; /* Parallax */
  overflow: hidden; /* Garante que as camadas de sombra ou efeitos não ultrapassem o limite */
  text-align: center; /* Centraliza textos */
}

/* Gradientes superior e inferior compartilhados (camadas de sombra)
Estes dois pseudo-elementos adicionam sombras escuras no topo e base */
section::before,
section::after {
  content: ""; /* Necessário para que os pseudo-elementos existam */
  position: absolute; /* Permite posicionar livremente dentro da section */
  left: 0; /* Alinha totalmente à esquerda */
  width: 100%; /* Faz o gradiente ocupar a largura total */
  height: 150px;  /* Define altura das sombras (superior e inferior) */
  z-index: 2; /* Fica acima do fundo, mas abaixo do conteúdo (eixo z = profundidade) */
  pointer-events: none; /* Garante que não bloqueie cliques no conteúdo */
}

/* Gradiente superior (escurece a parte de cima da seção) */
section::before {
  top: 0; /* Fixa no topo da section */
  background: linear-gradient(
    to top, /* Gradiente indo para cima */
    transparent, /* Base transparente */
    rgba(0, 0, 0, 0.8) /* Topo escuro */
  );
}

/* Gradiente inferior (escurece a parte de baixo da seção) */
section::after {
  bottom: 0; /* Fixa no rodapé da section */
  background: linear-gradient(
    to bottom, /* Gradiente indo para baixo */
    transparent, /* Base transparente */
    rgba(0, 0, 0, 0.8) /* Base escura */
  );
}

/* Fundo duplicado em ::before para profundidade e overlay independente */
.serie::before,
.sistema::before  {
  inset: 0; /* Atalho para top:0, left:0, bottom:0, right:0 */
  background-size: cover; /* Fundo cobre toda a área */
  background-position: center; /* Centraliza fundo */
  background-attachment: fixed; /* Parallax duplicado */
  z-index: 0; /* Fica atrás de tudo */
  opacity: 1;
}

/* Overlay compartilhado
Responsável por escurecer o fundo e aplicar blur (desfoque) */
.overlay {
  position: relative; /* Para ficar acima do ::before */
  z-index: 1; /* Fica acima do fundo duplicado */
  background: rgba(0, 0, 0, 0.4); /* Escurecimento suave */
  backdrop-filter: blur(2px); /* Desfoque do fundo */
  width: 100%; /* Ocupa toda a largura da seção */
  height: 100%; /* Ocupa toda a altura da seção */
  /* Centraliza conteúdo interno */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Formatação padrão dos Cards */
.card {
  width: 800px; /* Largura */
  padding: 2%; /* Espaçamento interno */
  border-radius: 16px; /* Bordas arredondadas */
  background: rgba(14, 14, 14, 0.8); /* Fundo escuro semitransparente */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Sombra para destaque */
}

/* Padronização do Título usado nos Cards */
.card h2 {
  font-size: 40px; /* Tamanho da fonte */
  margin-bottom: 1.2rem; /* Espaçamente externo abaixo do título */
  letter-spacing: 1px; /* Espaçamento entre letras */
}

/* Padronização do Texto usado nos Cards */
.card p {
  text-align: center; /* Centraliza o texto */
  margin-bottom: 2rem; /* Espaçamente externo abaixo do texto */
}

/* Padronização do Botão usado nos Cards */
.card button {
  background: linear-gradient(
    90deg,
    var(--vermelho_sangue),
    var(--vermelho_vivo)
  );
  color: whitesmoke;
  padding: 0.8rem 2rem; /* Espaçamento interno */
}

/* SEÇÃO 1 — INÍCIO */

.inicio {      
  background-image: url(../assets/banner_escuro.png); /* Imagem de Fundo */
  display: flex; /* Layout flexível */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.cta {
  color: whitesmoke; /* Texto branco claro */
  font-size: larger; /* Aumenta o tamanho do texto */
}

/* SEÇÃO 2 — RPG */

.rpg {
  background-image: url(../assets/rpg_banner.png); /* Imagem de Fundo */
  display: flex; /* Layout flexível */
  align-items: center; /* Centraliza verticalmente */
}

.container_rpg {
  display: flex; /* Layout flexível */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  gap: 50px; /* Espaço entre botão e card */
  flex-grow: 1; /* Ocupa área restante */
}

.card_rpg {
  width: 1050px; /* Largura */
  height: 600px; /* Altura */
  background: var(--preto_abissal_opaco); /* Fundo escuro */
  border-radius: 16px; /* Bordas arredondadas */
  box-shadow: 0 0 20px #000; /* Sombra */
  display: flex; /* Layout flexível */
  overflow: hidden; /* Impede qualquer vazamento interno */
}

.img_rpg {
  height: 100%; /* Preenche verticalmente */
  width: auto; /* Mantém proporção */
  object-fit: cover; /* Cobre sem distorcer */
  border-radius: 0 16px 16px 0; /* Arredonda só o lado direito */
}

.texto_rpg {
  flex: 1; /* Ocupa espaço restante */
  display: flex; /* Layout flexível */
  flex-direction: column;  /* Título em cima, texto embaixo */
  align-items: center; /* Centraliza horizontalmente */
  padding: 2rem; /* Espaçamento interno */
  gap: 1.2rem; /* Espaço entre elementos */
}

.texto_rpg h2 {
  font-size: 2rem; /* Tamanho diferente do título */
}

.texto_rpg p {
  text-align: justify; /* Justifica texto nas margens */
}

/* Botões de navegação da seção RPG */
.btn_rpg {
  background: none; /* Tira o fundo do botão */
  border: none; /* Tira as bordas do botão */
  cursor: pointer; /* Troca o símbolo do cursor ao passar por cima */
  display: flex; /* Layout flexível */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.btn_rpg img {
  width: 90px; /* Largura do ícone */
  transition: transform 0.2s ease; /* Suaviza animação */
}

.btn_rpg:hover img {
  transform: scale(1.1); /* Aumenta ao passar o mouse */
}

/* SEÇÃO 3 — SÉRIE */

.serie {
  background-image: url(../assets/serie_banner.png); /* Define a imagem de fundo */
}

.serie::before {
  background-image: url(../assets/serie_banner.png); /* Duplicação da imagem de fundo por conta do overlay */
}

/* SEÇÃO 4 — SISTEMA */

.sistema {
  background-image: url(../assets/sistema_banner.webp); /* Define a imagem de fundo */
}

.sistema::before {
  background-image: url(../assets/sistema_banner.webp); /* Duplicação da imagem de fundo por conta do overlay */
}