/* NAVBAR HORIZONTAL - SITE INSTITUCIONAL */

.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--preto_abissal_opaco);
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 80px;
  justify-content: space-between;
}

.logo_horizontal {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0rem 2rem;
}

.lista_secoes {
  display: flex;
  width: 40%;
  align-items: center;
  gap: 5%;
  justify-content: center;
  font-size: large;
}

.lista {
  display: flex;
  width: 70%;
  gap: 5%;
  justify-content: space-around;
}

li {
  color: var(--dourado_antigo);
  text-decoration: underline transparent 1.5px;
  text-underline-offset: 3px;
  transition: color 0.3s ease;
}

.lista li:hover {
  color: var(--vermelho_vivo);
  text-decoration-color: var(--vermelho_sangue);
}

.btn_entrar {
  background: linear-gradient(
    90deg,
    var(--vermelho_sangue),
    var(--vermelho_vivo)
  );
  color: whitesmoke;
  width: 15%;
  height: 40%;
}

.btn_entrar:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px var(--dourado_antigo_opaco);
}

/* NAVBAR VERTICAL - FICHAS, DASH E QUIZ */

body.layout {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.navbar_vertical {
  width: 220px;
  background-color: var(--roxo_ritual);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.logo_vertical {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.logo_vertical img {
  width: 120px;
  user-select: none;
  pointer-events: none;
}

.divisoria {
  width: 80%;
  height: 1px;
  background-color: whitesmoke;
  margin: 0 auto 20px auto;
}

.nav_secoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav_sair {
  margin-top: auto;
  border-top: 1px solid whitesmoke;
  padding-top: 20px;
}

.navbar_vertical a {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar_vertical a:hover {
  padding-left: 30px;
}

.ativado {
  background-color: rgba(255, 255, 255, 0.15);
  padding-left: 30px;
  border-left: 4px solid var(--dourado_antigo);
  color: var(--dourado_antigo);
}
