/* Transição suave ao clicar na navbar */
html {
  scroll-behavior: smooth;
}

/* Estilo geral de qualquer seção */
section {
  height: 750px; /* Altura da seção */
  position: relative; /* Necessário para permitir o uso das camadas de sombra */
  background-size: cover; /* Faz o fundo preencher toda a área sem distorcer */
  background-position: center; /* Centraliza o fundo em qualquer resolução */
  background-attachment: fixed; /* Parallax */
  overflow: hidden; /* Garante que as camadas de sombra ou efeitos não ultrapassem o limite */
  text-align: center; /* Centraliza textos */
}

/* Gradientes superior e inferior compartilhados (camadas de sombra)
Estes dois pseudo-elementos adicionam sombras escuras no topo e base */
section::before,
section::after {
  content: ""; /* Necessário para que os pseudo-elementos existam */
  position: absolute; /* Permite posicionar livremente dentro da section */
  left: 0; /* Alinha totalmente à esquerda */
  width: 100%; /* Faz o gradiente ocupar a largura total */
  height: 150px; /* Define altura das sombras (superior e inferior) */
  z-index: 2; /* Fica acima do fundo, mas abaixo do conteúdo (eixo z = profundidade) */
  pointer-events: none; /* Garante que não bloqueie cliques no conteúdo */
}

/* Gradiente superior (escurece a parte de cima da seção) */
section::before {
  top: 0; /* Fixa no topo da section */
  background: linear-gradient(
    to top,
    /* Gradiente indo para cima */ transparent,
    /* Base transparente */ rgba(0, 0, 0, 0.8) /* Topo escuro */
  );
}

/* Gradiente inferior (escurece a parte de baixo da seção) */
section::after {
  bottom: 0; /* Fixa no rodapé da section */
  background: linear-gradient(
    to bottom,
    /* Gradiente indo para baixo */ transparent,
    /* Base transparente */ rgba(0, 0, 0, 0.8) /* Base escura */
  );
}

/* Formatação padrão dos Cards */
.card {
  width: 800px; /* Largura */
  padding: 2%; /* Espaçamento interno */
  border-radius: 16px; /* Bordas arredondadas */
  background: rgba(14, 14, 14, 0.9); /* Fundo escuro semitransparente */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Sombra para destaque */
}

/* Padronização do Título usado nos Cards */
.card h2 {
  font-size: 40px; /* Tamanho da fonte */
  margin-bottom: 1.2rem; /* Espaçamente externo abaixo do título */
  letter-spacing: 1px; /* Espaçamento entre letras */
}

/* Padronização do Texto usado nos Cards */
.card p {
  text-align: center; /* Centraliza o texto */
  margin-bottom: 2rem; /* Espaçamente externo abaixo do texto */
}

/* SEÇÃO 1 - ÍNICIO */
.universo {
  color: white;
  background-image: url(../assets/temporadas.png);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.cta {
  color: whitesmoke;
  font-size: larger;
}

/* SEÇÃO 2 - TEMPORADAS */
.temporadas {
  color: white;
  height: 1000px;
  background-image: url(../assets/serie.jpeg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.titulo_temporadas {
  width: fit-content; /* Largura */
  padding: 2%; /* Espaçamento interno */
  border-radius: 16px; /* Bordas arredondadas */
  background: rgba(14, 14, 14, 0.9); /* Fundo escuro semitransparente */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Sombra para destaque */
  margin-top: 40px;
}

/* Carrossel */
.carrossel {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 20px;
  width: 100%; /* Largura */
  padding: 2%; /* Espaçamento interno */
  border-radius: 16px; /* Bordas arredondadas */
  background: rgba(14, 14, 14, 0.9); /* Fundo escuro semitransparente */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Sombra para destaque */
  /* scroll-snap-type: x mandatory; */
}

.carrossel::-webkit-scrollbar {
  display: none;
}

.card_temporada {
  min-width: 200px;
  height: 140px;
  background: #222;
  border-radius: 12px;
  padding: 16px;
  scroll-snap-align: start;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.card_temporada:hover {
  transform: scale(1.05);
  background: #333;
}
